<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.java.jinxuyang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:name=".service.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.KnowledgeDetailActivity"
            android:label="@string/title_activity_knowledge_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.TrendDetailActivity" />
        <activity
            android:name=".activity.TagActivity"
            android:theme="@style/Translucent" />
        <activity
            android:name=".activity.NewsDetailActivity"
            android:label="@string/title_activity_news_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>